##############################
## Folders                  ##
##############################
OBJ/


##############################
## Files		            ##
##############################
*.o
*.crf
*.htm